@CHARSET "UTF-8";

#addUserForm {
	width: 400px;
	overflow: hidden;
	border: solid 1px #000;
	padding: 20px;
	margin: 0px auto;
	/*--Coins arrondis en CSS3--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.formLibelle {
	float: left;
	width: 200px;
	padding-bottom: 10px;
}

.formInput {
	float: left;
	width: 200px;
	padding-bottom: 10px;
}

#selectcursus {
	height: 30px;
	width: 190px;
	padding-top: 6px;
}

#submit {
	height: 30px;
	width: 75px;
	margin-top: 10px;
}